body {
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  margin-top: 125px;
}

/* eye image */
.name {
  max-width: 145px;
  margin-top: -3px;
  margin-left: 5px;
}

.name img {
  position: relative;
  right: 50px;
}

/* about me section */

.about-me {
  margin-bottom: 500px;
  margin-right: 25px;
}

.about-me-title {
  font-family: 'Manbow';
  font-size: 250px;
  margin-top: -25px;
  position: absolute;
  z-index: 1;
}

/* holding devin image in about me */
.hold-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  left: 390px;
  bottom: 6px;
  overflow: hidden;
}

.about-me img {
  height: 130px;
  width: auto;
  position: relative;
  top: 115px;
  left: 110px;
  z-index: 0;
}

.about-me p {
  position: relative;
  top: 200px;
  left: 550px;
  height: 200px;
  width: 325px;
}

/* end about me */

@media only screen and (max-width: 775px) {
  .name {
    display: none;
  }
}

@media only screen and (min-width: 40em) {
  .top-bar {
    text-align: center;
    margin-bottom: 50px;
    background: transparent;
  }

  ul.center-links {
    display: inline-block;
  }

  .center-links dd {
    padding-right: 15px;
  }

  .top-bar-section ul li {
    background: transparent;
    margin-top: 10px;
  }

  a {
    color: #000;
  }

  a:hover, a:focus {
    color: #000;
    font-weight: bold;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: transparent;
  }

  .center-links i {
    position: relative;
    left: 75px;
    color: #000;
    margin: -10px;
  }

  .center-links {
    position: relative;
    left: 15px;
  }

}

nav.top-bar {
  background: transparent;
}

.top-bar .toggle-topbar.menu-icon a {
  color: #000;
  font-weight: bold;
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: transparent;
}
