body {
  font-family: 'Muli', sans-serif;
  background-color: #fff;
}

@media only screen and (min-width: 40em) {
  /* larger screen styles */
  .top-bar {
    text-align: center;
    background: #fff;
  }

  ul.center-links {
    display: inline-block;
  }

  #bold-nav li > a:hover {
    color: #000;
    font-weight: bold;
    background-color: #fff;
  }

  li:hover {
    color: #000;
  }

  .center-links > li > a:hover {
    color: #000;
    font-weight: bold;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
  }

  .top-bar-section li:not(.has-form) a:not(.button):hover {
    font-weight: bold;
    background: transparent;
  }

  .top-bar-section ul li {
    background: #fff;
    color: #000;
  }

  .top-bar-section ul li>a {
    color: #000;
  }

  a:hover, a:focus {
    color: #000;
    font-weight: bold;
  }

  .logo {
    left: 5px;
    top: -2px;
    position: absolute;
  }

  .logo {
    max-width: 145px;
    margin-top: -3px;
    margin-left: 5px;
  }

  .logo a {
    position: relative;
    right: 50px;
    top: -20px;
  }

  a, i {
    color: #000;
  }

  .center-links i {
    position: relative;
    left: 75px;
    color: #000;
    margin-right: -15px;
  }

}

/* mobile resets */

.logo {
  max-width: 145px;
  margin-top: -3px;
  margin-left: 5px;
}

.logo a {
  position: relative;
  right: 50px;
  top: -20px;
}

.menu-icon {
  padding-top: 1.2rem;
}

.top-bar.expanded {
  background: transparent;
}

.logo {
  margin-top: .5rem;
}

/* about me section */

.about-me {
  margin-top: 125px;
  margin-bottom: 500px;
  margin-right: 25px;
}

.about-me-title {
  font-family: 'Manbow';
  font-size: 250px;
  margin-top: -25px;
  position: absolute;
  z-index: 1;
}

/* holding devin image in about me */
.hold-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  left: 390px;
  bottom: 6px;
  overflow: hidden;
}

.about-me img {
  height: 130px;
  width: auto;
  position: relative;
  top: 115px;
  left: 110px;
  z-index: 0;
}

.about-me p {
  position: relative;
  top: 200px;
  left: 550px;
  height: 200px;
  width: 325px;
}
